.project-display {
  text-align: center;
}

.projectList {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 428px);
  gap: 20px 20px;
  padding: 0;
}

.project {
}

.project__thumbnail {
  height: 200px;
}
