.navbar {
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7b481c;
  height: 57px;
  width: 100%;
}

.navbar__link {
  color: white;
  margin-right: 50px;
}

.navbar__link:hover {
  color: black;
}

.navbar__menu {
  margin-right: 40px;
}

.navbar__menu:hover {
  opacity: 60%;
  cursor: pointer;
}
