.navbar {
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 261px;
  background-color: #7b481c;
  height: 57px;
  width: calc(100% - 261px);
}

.navbar__link {
  color: white;
  margin-right: 50px;
}

.navbar__link:hover {
  color: black;
}
